
.button {
    background: rosybrown;
    border:  1px solid;
    border-radius: 3px;
    font: 700 13px Helvetica, Arial;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
}

a {
    color: midnightblue;
    text-decoration: none;
    float: left;
}

a:hover {
    color: grey;
    background-color: rgb(255, 205, 252);
}











